[Unit]
Description=Refresh TEE certificate
After=cocoon-ready.target
Requires=cocoon-ready.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cocoon-cert-refresh
